body {
    background-position: center;
    background-size: cover;
}

.heading {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}

.heading h3 {
    display: inline;
    font-size: 22px;
}

.heading button {
    float: right;
    border: 1px solid burlywood;
}

.status_label {
    background-color: white;
}

footer {
    background-color: grey;
    line-height: 2;
    margin-bottom: 0px;
    bottom: 0px;
    position: sticky;
    width: 100%;
}
canvas{
    background-position: center;
}